temp
proofOfCOncept_files
replaceFileName.py
step-step
waterhsv
secondStep_preprocessingData
segmented_regions
region_watershed
stitch-rgb
stitch-hsv
data
audmented_data
docu_images
plots
preprocessing_data
waterrgb
my_dir
design_models
models
my_dir
models